:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #75898e;
    background-color: #a6afaa;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding: 2rem;
    font-size: 24px;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: #076d67;
}

button {
    padding: 0.5rem 1rem 0.25rem 1rem;
    margin: 0 0.5rem 0 0;

    font-family: unset;
    font-size: 1.4rem;
    color: #75898e;
    cursor: pointer;

    border: none;
    border-radius: 4px;
    background-color: #222222;
}

hr {
    margin: 2rem 0;
    border: none;
    border-top: 1px solid #949d98;
}

.climax-editor {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    line-height: 110%;
    font-size: 1.4rem;
    color: #75898e;

    border-radius: 4px;
    background-color: #222222;
}
.climax-editor:focus {
    outline: none;
}
.climax-editor .trigger {
    padding: 0.25rem 0.25rem 0rem 0.25rem;
    margin: 0;

    color: #bfcbce;

    border-radius: 4px;
    background-color: #076d67;
}

.climax-logger {
    margin-top: 1rem;
    padding: 0.5rem;

    font-size: 1rem;

    border-radius: 4px;
    background-color: #222222;

    min-height: 300px;
}
